<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" type="text/css" href="/public/main.css">
    </head>
<body>
    <div class="header">
        <div class="inner">
            <div class="logo">
                <h1>Fitness Site</h1>
            </div>
            <ul class="navigate">
                <a href="/posts"><li>Home</li></a>
                <a href="/health"><li>Health</li></a>
                <a href="/exercise"><li>Excercise</li></a>
                <a href="/group"><li>Group</li></a>
                <a href="/logout"><li>Logout</li></a>
            </ul>
        </div>
    </div>
{{{body}}}
</body>
</html>