<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" type="text/css" href="/public/main.css">
    </head>
<body>
{{{body}}}
</body>
</html>