<h2>Add exercise Data</h2>
<form action="/exercise" method="POST">
    <select id="type" name="Exercise Type">
        <option value="Indoor">Indoor</option>
        <option value="Outdoor">Outdoor</option>
        <option value="Other">Other</option>
    </select>
    <button type="submit">Submit Exercise</button>
</form>