<div class="header">
    <div class="inner">
        <div class="logo">
            <h1>Fitness Site</h1>
        </div>
        <ul class="navigate">
            <a href="/posts"><li>Home</li></a>
            <a href="/health"><li>Health</li></a>
            <a href="/exercise"><li>Exercise</li></a>
            <a href="/group"><li>Group</li></a>
            <a href="/logout"><li>Logout</li></a>
        </ul>
    </div>
</div>
<div class="body">
    <h2 class="head">Add Exercise Data</h2>
    <form action="/exercise/add" method="POST">

        <input type="hidden" name="_method" value="PATCH">

        <label for="type">Type</label> <br>
        <select id="type" name="type">
            <option value="Indoor">Indoor</option>
            <option value="Outdoor">Outdoor</option>
            <option value="Other">Other</option>
        </select> <br>

        <label for="sport">Exercise Description</label> <br>
        <input name="sport" id="sport" type="text" placeholder="description of exercise"> <br>

        <button type="submit">Submit Exercise</button>

        {{#if miss}}
        <p class="error">
            You must choose a type and enter a description
        </p>
        {{/if}}
    </form>
</div>