<form action="/posts" method="POST" class="form2">
            <select id="type" name="Excersice Type">
                <option value="Indoor">Male</option>
                <option value="Outdoor">Female</option>
                <option value="Other">Other</option>
            </select>
        </form>