<h2>Add exercise Data</h2>
<form action="/exercise" method="POST">
    <select id="type" name="type">
        <option value="Indoor">Indoor</option>
        <option value="Outdoor">Outdoor</option>
        <option value="Other">Other</option>
    </select>


    <input name="sport" type="text" placeholder="description of exercise">

    <button type="submit">Submit Exercise</button>
</form>