<div class="header">
    <div class="inner">
        <div class="logo">
            <h1>Fitness Site</h1>
        </div>
        <ul class="navigate">
            <a href="/posts"><li>Home</li></a>
            <a href="/health"><li>Health</li></a>
            <a href="/exercise"><li>Exercise</li></a>
            <a href="/group"><li>Group</li></a>
            <a href="/logout"><li>Logout</li></a>
        </ul>
    </div>
</div>

<h2>Add Health Data</h2>
<form action="/health/update" method="POST">

    <input type="hidden" name="_method" value="PATCH">

    <input name="height" type="text" align="center" placeholder="Height">
    <input name="weight" type="text" align="center" placeholder="Weight">
    <input name="mc" type="text" align="center" placeholder="Medical Conditions">
    <input name="BMI" type="text" align="center" placeholder="BMI">
    <input name="BF" type="text" align="center" placeholder="bf%">
    <button type="submit">Submit Health Data</button>

    {{#if blank}}
    <p class="error">
        At least one field must be changed
    </p>
    {{/if}}
</form>