<div class="header">
    <div class="inner">
        <div class="logo">
            <h1>Fitness Site</h1>
        </div>
        <ul class="navigate">
            <a href="/posts"><li>Home</li></a>
            <a href="/health"><li>Health</li></a>
            <a href="/exercise"><li>Exercise</li></a>
            <a href="/group"><li>Group</li></a>
            <a href="/logout"><li>Logout</li></a>
        </ul>
    </div>
</div>
<div class="body">
    <h2>update Health Data</h2>
    <form action="/health/update" method="POST">

        <input type="hidden" name="_method" value="PATCH">

        <label for="height">Height</label> <br>
        <input name="height" id="height" type="text" align="center" placeholder="Height"> <br>

        <label for="weight">Weight</label> <br>
        <input name="weight" id="weight" type="text" align="center" placeholder="Weight"> <br>

        <label for="mc">Medical Conditions</label> <br>
        <input name="mc" id="mc" type="text" align="center" placeholder="Medical Conditions"> <br>

        <label for="BMI">BMI</label> <br>
        <input name="BMI" id="BMI" type="text" align="center" placeholder="BMI"> <br>

        <label for="BF">BF%</label> <br>
        <input name="BF" id="BF" type="text" align="center" placeholder="bf%"> <br>

        <button type="submit">Submit Health Data</button>

        {{#if blank}}
        <p class="error">
            At least one field must be changed
        </p>
        {{/if}}
    </form>
</div>