<h2>Add Health Data</h2>
<form action="/health" method="POST">
    <input class="height" type="text" align="center" placeholder="Height">
    <input class="weight" type="text" align="center" placeholder="Weight">
    <input class="medical-conditions" type="text" align="center" placeholder="Medical Conditions">
    <input class="bmi" type="text" align="center" placeholder="BMI">
    <input class="bf" type="text" align="center" placeholder="bf%">
    <button type="submit">Submit Health Data</button>
</form>