<form action="/posts" method="POST" class="form2">
    <input class="height" type="text" align="center" placeholder="Height">
    <input class="weight" type="text" align="center" placeholder="Weight">
    <input class="medical-conditions" type="text" align="center" placeholder="Medical Conditions">
    <input class="bmi" type="text" align="center" placeholder="BMI">
    <input class="bf" type="text" align="center" placeholder="bf%">
</form>