<body>
    <div class="main">
        <p>Sign in</p>
        <form action="/admin" method="POST">
            <input class="un " type="text" align="center" placeholder="Username">
            <input class="pass" type="password" align="center" placeholder="Password">
            <a class="submit" align="center">Sign in</a>
            <p>Not an Administrator? <a href="/login">Log in here</a></p>         
    </div> 
</body>