<h1 class="he"><a href="/logout">Logout</a></h1>    
<div align="center" class="body">
    {{#each users}}
    <p>{{username}}</p>

    <form action="/admin/user/{{_id}}" method="POST">

        <input type="hidden" name="_method" value="DELETE">

        <button name="deleteu">Delete User</button>
    </form>
    {{/each}}

    <p><a href="admin/createGroup">Create a Group</a></p>
</div>



