<body>
    <div class="main">
        <h1 class="sign" align="center">Administrator Sign in</h1>
        <br>
        <form class="form1" action="/adminlogin" method="POST">
            
              <label for="adminname">Username</label> <br>
              <input name="adminname"  id="adminname" type="text" align="center" placeholder="Enter Username" required>
              <br>
              <br>
              <label for="password">Password</label> <br>
              <input name="password" id="password" type="password" align="center" placeholder=" Enter Password">
              <br>
              {{#if error}}
                <p class="error">
                Incorrect username or password
                </p>
              {{/if}} 
              <br>
              <br>
              <button class="bttn" type="submit" align="center">Sign in</button>
            <br>
            <br>
            <p><a href="/">Not an Administrator? Log in here</a></p>    

                
    </div> 
</body>