<div class="header">
    <div class="inner">
        <div class="logo">
            <h1>Fitness Site</h1>
        </div>
        <ul class="navigate">
            <a href="/posts"><li>Home</li></a>
            <a href="/health"><li>Health</li></a>
            <a href="/exercise"><li>Exercise</li></a>
            <a href="/group"><li>Group</li></a>
            <a href="/logout"><li>Logout</li></a>
        </ul>
    </div>
</div>

<div align="center" class="body">
    <h2 class="head">Exercise Data</h2>
    <p>
        Indoors: <br>
        {{indoors}} 
    </p>

    <P>
        Outdoors: <br>
        {{outdoors}}
    </P>

    <p>
        Other: <br>
        {{other}}
    </p>
    <p>
        <a href="/exercise/add">Add Exercise</a>
    </p>
</div>
