<h2>Exercise Data</h2>
<p>
    Indoors: <br>
    {{indoors}} 
</p>

<P>
    Outdoors: <br>
    {{outdoors}}
</P>

<p>
    Other: <br>
    {{other}}
</p>
<p>
    <a href="/exercise/add">Add Exercise</a>
</p>