<h2>Health Data</h2>
<p>username: {{user.username}}</p>
<p>age: {{user.age}}</p>
<p>height: {{health.height}}</p>
<p>weight: {{health.weight}}</p>
<p>
    <a href="/health/update">Add Health Data</a>
</p>