<div class="header">
        <div class="inner">
            <div class="logo">
                <h1>Fitness Site</h1>
            </div>
            <ul class="navigate">
                <a href="/home"><li>Home</li></a>
                <a href="/addh"><li>Add Health</li></a>
                <a href="/adde"><li>Add Excercise</li></a>
                <a href="/logout"><li>Logout</li></a>
            </ul>
        </div>
    </div>