<form action="login" method="POST" id="login-form">
    <label>
        Username
        <input type="text" name="username" id="username">
    </label>
    <label>
        Password
        <input type="text" name="password" id="pasword">
    </label>
    <button type="submit">Submit</button>
</form>