<body>
    <div class="main">
        <h1 class="sign" align="center">Welcome!</h1>
        <h2 class="subtitle" align="center">Please sign in below</h3>
        <br>
        <form class="form1" action="/login" method="POST">
            
              <label for="un ">Username</label> <br>
              <input name="un " id="un " type="text" align="center" placeholder="Enter Username" required>
              <br>
              <br>
              <label for="pass">Password</label> <br>
              <input name="pass" id="pass" type="password" align="center" placeholder=" Enter Password">
              <br>
              {{#if error}}
                <p class="error">
                Incorrect username or password
                </p>
              {{/if}} 
              <br>
              <br>
              <button class="bttn" type="submit" align="center">Sign in</button>
            <br>
            <br>
            <p class="signup" align="center"><a href="/signup">No Account?</a></p>
            <p><a href="/adminlogin">Administrator Login</a></p>    

                
    </div> 
</body>

