<form action="/admin/createGroup" method="POST">
    <input name="name" type="text" align="center" placeholder="Enter a name for the group">
    <input name="ltg" type="text" align="center" placeholder="Enter a long term goal">
    <input name="announcements" type="text" align="center" placeholder="Enter announcements">

    <button type="submit">Create Group</button>

</form>
