<div class="body">
<h1 class="he"><a href="/logout">Logout</a></h1> 
<h2 class="hea"><a href="/admin">Back</a></h2>    
<form action="/admin/createGroup" method="POST">
    <input name="name" type="text" align="center" placeholder="Enter a name for the group">
    <input name="ltg" type="text" align="center" placeholder="Enter a long term goal">
    <input name="announcements" type="text" align="center" placeholder="Enter announcements">

    <button type="submit">Create Group</button>

</form>
</div>