<div class="header">
    <div class="inner">
        <div class="logo">
            <h1>Fitness Site</h1>
        </div>
        <ul class="navigate">
            <a href="/posts"><li>Home</li></a>
            <a href="/health"><li>Health</li></a>
            <a href="/exercise"><li>Exercise</li></a>
            <a href="/group"><li>Group</li></a>
            <a href="/logout"><li>Logout</li></a>
        </ul>
    </div>
</div>

<h2>Create a New Post</h2>
<form action="/posts/add" method="POST">
    <label for="caption">
      Caption
    </label>
    <textarea name="caption" rows="4" placeholder="Enter caption here" class="full-width-input"></textarea>

  <label for="img">Image</label>
  <input name="img" type="text" align="center" placeholder="Enter Link to Image">

    <button type="submit">Create Post</button>
    <div>
    {{#if miss}}
    <p class="error">
      You must input an image and a caption
    </p>
    {{/if}}
    </div>
</form>