<head>
  <title>Sign up</title>
</head>
<body>
    <div class="main">
        <p class="sign" align="center">Create an Account</p>
        <form class="form2">
            <input class="un " type="text" align="center" placeholder="Username">
            <input class="pass" type="password" align="center" placeholder="Password">
            <input class="pass" type="password" align="center" placeholder="Confirm Password">
            <a class="submit" align="center">Sign up</a>
            <p class="signup" align="center"><a href="/login">Already have an account?</p>         
    </div> 
</body>