<body>
    <div class="main">
        <h2 class="sign" align="center">Create an Account</h2>
        <form action="/signup" method="POST" class="form2">
            <label for="firstname">First Name</label> <br>
            <input name="firstname" type="text" align="center" placeholder="Enter First Name"> <br>

            <label for="lastname">Last Name</label> <br>
            <input name="lastname" type="text" align="center" placeholder="Enter Last Name"> <br>

            <label for="email">Email Address</label> <br>
            <input name="email" type="text" align="center" placeholder="Enter Email Address"> <br>

            <label for="gender">Gender</label> <br>
            <select id="gender" name="gender">
                <option value="male">Male</option>
                <option value="volvo">Female</option>
            </select> <br>

            <label for="City">City</label> <br>
            <input name="city" type="text" align="center" placeholder="Enter the city you live in"> <br>

            <label for="state">State</label> <br>
            <input name="state" type="text" align="center" placeholder="Enter the state you live in"> <br>

            <label for="age">Age</label> <br>
            <input name="age" type="text" align="center" placeholder="Enter your age"> <br>

            <label for="un ">Username</label> <br>
            <input name="un " type="text" align="center" placeholder="Choose a username"> <br>

            <label for="pass">Password</label> <br>
            <input name="pass" type="password" align="center" placeholder="Enter your password"> <br>

            <label for="pass2">Confirm Password</label> <br>
            <input name="pass2" type="password" align="center" placeholder="Confirm Password"> <br>
            <button name="submit" align="center">Sign up</button>
        </form>
            <p class="signup" align="center"><a href="/login">Already have an account?</p>         
    </div> 
</body>