<body>
    <div class="main">
        <h2 class="sign" align="center">Create an Account</h2>
        <form action="signup" method="POST" class="form2">
            <label for="firstname">First Name</label>
            <input name="firstname" type="text" align="center" placeholder="Enter First Name">

            <label for="lastname">Last Name</label>
            <input name="lastname" type="text" align="center" placeholder="Enter Last Name">

            <label for="email">Email Address</label>
            <input name="email" type="text" align="center" placeholder="Enter Email Address">

            <label for="gender">Gender</label>
            <select id="gender" name="gender">
                <option value="male">Male</option>
                <option value="volvo">Female</option>
            </select>

            <label for="City">City</label>
            <input name="city" type="text" align="center" placeholder="Enter the city you live in">

            <label for="state">State</label>
            <input name="state" type="text" align="center" placeholder="Enter the state you live in">

            <label for="age">Age</label>
            <input name="age" type="text" align="center" placeholder="Enter your age">

            <label for="un ">Username</label>
            <input name="un " type="text" align="center" placeholder="Choose a username">

            <label for="pass">Password</label>
            <input name="pass" type="password" align="center" placeholder="Enter your password">

            <label for="pass2">Confirm Password</label>
            <input name="pass2" type="password" align="center" placeholder="Confirm Password">
            <button name="submit" align="center">Sign up</button>
        </form>
            <p class="signup" align="center"><a href="/login">Already have an account?</p>         
    </div> 
</body>