<body>
    <div class="main">
        <h2 class="sign" align="center">Create an Account</h2>
        <form action="signup" method="POST" class="form2">
            <input name="firstname" type="text" align="center" placeholder="First Name">
            <input name="lastname" type="text" align="center" placeholder="Last Name">
            <input name="email" type="text" align="center" placeholder="Email Address">
            <select id="gender" name="gender">
                <option value="male">Male</option>
                <option value="volvo">Female</option>
            </select>
            <input name="city" type="text" align="center" placeholder="City">
            <input name="state" type="text" align="center" placeholder="State">
            <input name="age" type="text" align="center" placeholder="Age">
            <input name="un " type="text" align="center" placeholder="Username">
            <input name="pass" type="password" align="center" placeholder="Password">
            <input name="pass" type="password" align="center" placeholder="Confirm Password">
            <button name="submit" align="center">Sign up</button>
        </form>
            <p class="signup" align="center"><a href="/login">Already have an account?</p>         
    </div> 
</body>