<body>
    <div class="main">
        <h1 class="sign" align="center">Create an Account</h1>
        <form action="/signup" method="POST" class="form2">
            <label for="firstname">First Name</label> <br>
            <input name="firstname" id="firstname" type="text" align="center" placeholder="Enter First Name"> <br>

            <label for="lastname">Last Name</label> <br>
            <input name="lastname" id="lastname" type="text" align="center" placeholder="Enter Last Name"> <br>

            <label for="email">Email Address</label> <br>
            <input name="email" id="email" type="text" align="center" placeholder="Enter Email Address"> <br>

            <label for="gender">Gender</label> <br>
            <select id="gender" name="gender">
                <option value="male">Male</option>
                <option value="volvo">Female</option>
            </select> <br>

            <label for="city">City</label> <br>
            <input name="city" id="city" type="text" align="center" placeholder="Enter the city you live in"> <br>

            <label for="state">State</label> <br>
            <input name="state" id="state" type="text" align="center" placeholder="Enter the state you live in"> <br>

            <label for="age">Age</label> <br>
            <input name="age" id="age" type="text" align="center" placeholder="Enter your age"> <br>

            <label for="un ">Username</label> <br>
            <input name="un " id="un " type="text" align="center" placeholder="Choose a username"> <br>

            <label for="pass">Password</label> <br>
            <input name="pass" id="pass" type="password" align="center" placeholder="Enter your password"> <br>

            <label for="pass2">Confirm Password</label> <br>
            <input name="pass2" id="pass2" type="password" align="center" placeholder="Confirm Password"> <br>

            {{#if miss}}
                <p class="error">You must provide all information</p>
            {{/if}}

            {{#if used}}
                <p class="error">The username or email is already taken</p>
            {{/if}}

            {{#if badAge}}
                <p class="error">You must provide valid age</p>
            {{/if}}

            {{#if notComfirmed}}
                <p class="error">You must comfirm your password correctly</p>
            {{/if}}

            <button name="submit" align="center">Sign up</button>
        </form>
            <p class="signup" align="center"><a href="/">Already have an account? </a></p>         
    </div> 
</body>