.header {
    width: 100%;
    height: 120px;
    display: block;
    background-color: #101010;
}

.inner {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo{
    height: 100%;
    display: table;
    float: left;
}

.logo h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: fantasy;
    font-size: 50px;
}

.navigate {
    float: right;
    height: 100%;
}

.navigate a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;

}

.navigate a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: fantasy;
    font-size: 28px;
}

body {
    border: 4px solid #101010;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline block;
    border: 1px solid #101010;
    box-sizing: border-box;
}

button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 50%;
    
}

button:hover {
    opacity: 0.5
}

h2 {
    text-align: center;
    color: brown;
}

.hidden {
    display: none;
}